<% if @form_error %>
  <%= @form_error %>
<% end %>


<% if @directions %>
	<% @directions.each do |direction| %>
		<div class="dir-wrapper">
			<div class = "dir-id">Direction #:<%= direction.id %></div>
			<div class = "dir-orig-list">From: <%= direction.origin.address %></div>
			<div class = "dir-dest-list">To: <%= direction.destination.address %></div>
			<div>Duration: <%= direction.duration %></div>
			<div>Distance: <%= direction.distance %></div>
			<br>
		</div>
	<% end %>
<% end %>


<%= erb :_direction %>
