<%= erb :_navigation %>
<%= erb :_header %>
<%= erb :_portfolio %>
<%= erb :_about %>
<%= erb :_footer %>



<div id="origin" value="740 Webster St. , San Francisco" ></div>
<div id="destination" value="633 Folsom Street, San Francisco"></div>
<div id="mode" value="driving"></div>


<div id="map"></div>





